.disciplina h1 spam{
    font-weight: bold;
    color: black;
}
.disciplina h1{
    font-size: 20px;
    color: rgb(41, 122, 177);
}

.disciplina h2 spam{
    color: rgb(11, 32, 224);
}
.disciplina h2 spam:hover{
    border-bottom: 2px solid rgb(11, 32, 224);
    cursor: pointer;
}
.disciplina h2 {
    font-size: 18px;
}